PUBLIC_STORE_DOMAIN="hydrogen-preview.myshopify.com"
PUBLIC_STOREFRONT_API_TOKEN="3b580e70970c4528da70c98e097c2fa0"
PUBLIC_DDG_WBT_PROFILE_ID="DM-XXXXXXXXXX-01"
PUBLIC_DDG_REGION=1
PUBLIC_DDG_CHAT_API_SPACE_ID=""
PUBLIC_DDG_ABANDONED_CART_PROGRAM_ID=
PUBLIC_DDG_ABANDONED_CART_DELAY=